@{
	ViewData["Title"] = "Vegas Transportes Serviços";
}

<html>
<head>
	<!-- Icon nav bar -->
	<link rel="shortcut icon" href="~/css/img/icone-site.png" type="image/x-icon">
	<title>Serviços Vegas</title>

</head>
<body>
	<!-- MENU DESKTOP -->
	<nav class="navbar navbar-expand-lg navbar-custom">
		<div class="container-fluid">

			<a class="navbar-brand" href="@Url.Action("Index", "Home")">
				<img id="logo-home" src="~/css/img/logo.png" />
			</a>

			<div class="collapse navbar-collapse" id="navbarNavMenu">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Index", "Home")">Início</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Index", "Servicos")">Serviços</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Index", "Duvida")">Dúvidas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Index", "Contatos")">Contato</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="@Url.Action("Index", "Sobre")">Sobre</a>
					</li>
				</ul>
			</div>

			<div class="collapse navbar-collapse" id="navbarNavRedes">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item-rede">
						<a href="https://www.instagram.com/vegastransportes?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
								<path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
							</svg>
						</a>
					</li>
					<li class="nav-item-rede">
						<a href="https://www.facebook.com/vegastransportes" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
								<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
							</svg>
						</a>
					</li>
					<li class="nav-item-rede">
						<a href="https://api.whatsapp.com/send?phone=5511913188606" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
								<path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
							</svg>
						</a>
					</li>
				</ul>
			</div>

			<div class="collapse-mobile navbar-collapse-mobile" id="navbarMenuMobile">
				<ul class="navbar-nav">
					<li class="nav-item-menu" id="menuOpen" onclick="openMenuMobile();">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
						</svg>
					</li>
				</ul>
			</div>

		</div>
	</nav>

	<!-- MENU MOBILE -->
	<div class="menu-mobile" id="menu-mobile-id">
		<div class="menu-options">
			<div class="options-list">

				<ul class="navbar-nav" id="menuClose" onclick="closeMenuMobile();">
					<li class="nav-item-menu">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
						</svg>
					</li>
				</ul>

				<ul class="navbar-nav ms-auto" id="menuMobileOptions">
					<li class="nav-item">
						<a class="nav-link" id="mobile-link" href="@Url.Action("Index", "Home")" aria-current="page">
							Início
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
								<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
							</svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="mobile-link" href="@Url.Action("Index", "Servicos")">
							Serviços
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
								<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
							</svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="mobile-link" href="@Url.Action("Index", "Duvida")">
							Dúvidas
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
								<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
							</svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="mobile-link" href="@Url.Action("Index", "Contatos")">
							Contato
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
								<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
							</svg>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="mobile-link" href="@Url.Action("Index", "Sobre")">
							Sobre
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
								<path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
							</svg>
						</a>
					</li>

					<li class="redes-sociais-mobile">
						<ul>
							<li>
								<a href="https://www.instagram.com/vegastransportes?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
										<path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
									</svg>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/vegastransportes" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
										<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
									</svg>
								</a>
							</li>
							<li>
								<a href="https://api.whatsapp.com/send?phone=5511913188606" target="_blank">
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
										<path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232" />
									</svg>
								</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</div>


	<!-- SOBRE -->
	<div class="container text-center mt-3">
		<div class="ct-nossa-hist">
			<div class="nossa-hist-icon">
				<iframe src="https://lottie.host/embed/fac3202e-1419-4568-8910-9827a9a1cccc/Pmdk2LjHyl.json"></iframe>
			</div>
			<div class="nossa-hist-text">
				<h1>
					Nossa História
				</h1>
				<h2>
					A Vegas Transportes nasceu da necessidade de conectar empresas e profissionais de transporte de forma<label id="esc-ler-mais" onclick="lerMaisNossaHist();">. . . Ler Mais</label><label id="esc-nossa-hist"> eficiente e inovadora. Fundada em 2020, nossa missão sempre foi simplificar o processo logístico, garantindo qualidade e segurança em cada entrega. Ao longo dos anos, crescemos e nos tornamos referência no setor, graças ao nosso compromisso com a excelência e a satisfação de nossos clientes.<label id="esc-ler-menos" onclick="lerMenosNossaHist();">. . . Ler Menos</label> </label>
				</h2>
				<div class="btn-service-row mt-4">
					<div class="btn-service">
						<a href="@Url.Action("Index", "Servicos")" class="button">
							Nossos Serviços
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
								<path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ct-nossos-parceiros">
		<div class="container text-center mt-3">
			<div class="ct-nossos-parceiros-text">
				<h1>Nossas Parcerias</h1>
				<h2>
					A Vegas Transportes valoriza as parcerias que construiu ao longo dos anos. Trabalhamos com empresas de diversos setores para oferecer um serviço completo e integrado.
				</h2>
			</div>
			<div class="ct-parceiros-un">
				<div class="slider">
					<div class="slide-track">
						<!-- Original slides -->
						<div class="slide">
							<img src="~/css/img/azul.png" alt="Azul" />
						</div>
						<div class="slide">
							<img src="~/css/img/embrape.png" alt="Embrape" />
						</div>
						<div class="slide">
							<img src="~/css/img/gol.png" alt="Gol" />
						</div>
						<div class="slide">
							<img src="~/css/img/google.png" alt="Google" />
						</div>
						<div class="slide">
							<img src="~/css/img/innospace.png" alt="Innospace" />
						</div>
						<div class="slide">
							<img src="~/css/img/jaguar.png" alt="Jaguar" />
						</div>
						<div class="slide">
							<img src="~/css/img/latam.png" alt="Latam" />
						</div>
						<div class="slide">
							<img src="~/css/img/lg.png" alt="LG" />
						</div>
						<div class="slide">
							<img src="~/css/img/mcdonalds.png" alt="McDonald's" />
						</div>
						<div class="slide">
							<img src="~/css/img/samsung.png" alt="Samsung" />
						</div>
						<div class="slide">
							<img src="~/css/img/petrobras.png" alt="Petrobras" />
						</div>
						<div class="slide">
							<img src="~/css/img/volkswagen.png" alt="Volkswagen" />
						</div>
						<div class="slide">
							<img src="~/css/img/rockinrio.png" alt="Rock in Rio" />
						</div>

						<!-- Duplicated slides -->
						<div class="slide">
							<img src="~/css/img/azul.png" alt="Azul" />
						</div>
						<div class="slide">
							<img src="~/css/img/embrape.png" alt="Embrape" />
						</div>
						<div class="slide">
							<img src="~/css/img/gol.png" alt="Gol" />
						</div>
						<div class="slide">
							<img src="~/css/img/google.png" alt="Google" />
						</div>
						<div class="slide">
							<img src="~/css/img/innospace.png" alt="Innospace" />
						</div>
						<div class="slide">
							<img src="~/css/img/jaguar.png" alt="Jaguar" />
						</div>
						<div class="slide">
							<img src="~/css/img/latam.png" alt="Latam" />
						</div>
						<div class="slide">
							<img src="~/css/img/lg.png" alt="LG" />
						</div>
						<div class="slide">
							<img src="~/css/img/mcdonalds.png" alt="McDonald's" />
						</div>
						<div class="slide">
							<img src="~/css/img/samsung.png" alt="Samsung" />
						</div>
						<div class="slide">
							<img src="~/css/img/petrobras.png" alt="Petrobras" />
						</div>
						<div class="slide">
							<img src="~/css/img/volkswagen.png" alt="Volkswagen" />
						</div>
						<div class="slide">
							<img src="~/css/img/rockinrio.png" alt="Rock in Rio" />
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container text-center mt-3">

		<div class="ct-missao-visao-valores">

			<div class="mvv-itens-top"><h1>Missão, Visão e Valores</h1></div>

			<div class="mvv-itens-bot">
				<div class="ct-itens-bot">
					<div class="mvv-text">
						Na Vegas Transportes, temos um propósito claro: facilitar e otimizar o transporte de mercadorias, garantindo satisfação e confiança aos nossos clientes. Nosso compromisso com a excelência nos impulsiona a buscar constantemente soluções inovadoras que atendam às necessidades de nossos parceiros.
						<label id="esc-ler-mais-mvv" onclick="lerMaisMvv();">. . . Ler Mais</label>

						<br /><br />
						<label id="esc-mvv">
							A nossa visão é ser a empresa de transporte mais confiável e inovadora do Brasil, reconhecida pela qualidade dos serviços prestados e pelo compromisso com nossos clientes.
							<br /><br />
							Valorizamos a transparência em todas as nossas relações, a inovação contínua para melhorar nossos processos e a sustentabilidade em nossas práticas, respeitando o meio ambiente e promovendo um futuro mais responsável.
						</label>

						<label id="esc-ler-menos-mvv" onclick="lerMenosMvv();">. . . Ler Menos</label>
					</div>
					<div class="mvv-icons">
						<iframe src="https://lottie.host/embed/d21e4c9f-fd31-40b3-9ae1-88bfc2747afa/q20MnnarFg.json"></iframe>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="ct-feedbacks">
		<div class="ct-feedbacks-center">
			<div class="ct-feedbacks-top">
				<h1>Feedbacks dos Clientes</h1>
				<h2>
					Nada nos motiva mais do que a satisfação de nossos clientes. Confira alguns dos feedbacks de parceiros que confiam na Vegas Transportes.
				</h2>
			</div>
			<div class="ct-feedbacks-bot">
				<div class="ct-feedbacks-flex">
					<div class="ct-feed-contato">
						<div class="ct-feed-contato-center">
							<div class="ct-feed-img"><img src="~/css/img/pessoa1.png" /></div>
							<h1>Ana Souza</h1>
							<h2>LATAM Airlines</h2>
							<h3>"A Vegas Transportes revolucionou nossa logística. Com eles, temos a certeza de entregas rápidas e seguras."</h3>
						</div>
					</div>
					<div class="ct-feed-contato">
						<div class="ct-feed-contato-center">
							<div class="ct-feed-img"><img src="~/css/img/pessoa2.png" /></div>
							<h1>Carlos Lima</h1>
							<h2>Innospace Co Ltd</h2>
							<h3>"Excelente serviço e suporte ao cliente. A parceria com a Vegas nos proporcionou um crescimento significativo."</h3>
						</div>
					</div>
					<div class="ct-feed-contato">
						<div class="ct-feed-contato-center">
							<div class="ct-feed-img"><img src="~/css/img/pessoa3.png" /></div>
							<h1>Mariana Ferreira</h1>
							<h2>A Embrapa</h2>
							<h3>"Com a Vegas, conseguimos otimizar nossos processos e reduzir custos operacionais. Recomendo a todos!"</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- RODAPE -->
	<div class="rodape">
		<label id="txt_rodape">Copyright © 2024 – Todos os Direitos Reservados.</label>
	</div>

</body>
</html>